package main

import "aoc/src/lib/go/aoc"

func part1(input string, _ ...interface{}) interface{} {
	return "TBD"
}

func part2(input string, _ ...interface{}) interface{} {
	return "TBD"
}

func main() {
	New().Run(nil, nil)
}

func New() aoc.Solution {
	return aoc.Solution{Year: {{.Year}}, Day: {{.Day}}, Part1: part1, Part2: part2}
}
