package solution

func (s Solution) Part1(input string, _ ...interface{}) interface{} {
	parse(input)
	return "TBD"
}

func (s Solution) Part2(input string, _ ...interface{}) interface{} {
	parse(input)
	return "TBD"
}

func parse(input string) {

}
